<div ng-controller="SkybrudUmbracoRedirects.ImportController">
    <form name="propertiesForm" ng-submit="save()" novalidate val-form-manager>
        <umb-editor-view>
            <umb-editor-header name="model.title" name-locked="true" hide-alias="true" hide-icon="true" hide-description="true"></umb-editor-header>
            <umb-editor-container>
                <umb-box ng-show="!provider">
                    <umb-box-content>
                        <ul class="umb-actions">
                            <li ng-repeat="p in providers" class="umb-action">
                                <a class="umb-action-link" ng-click="selectProvider(p)">
                                    <i class="large icon icon-folder-close"></i>
                                    <span class="menu-label">
                                        <span ng-bind="p.name"></span>
                                        <small ng-bind="p.description"></small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </umb-box-content>
                </umb-box>
                <div ng-if="provider">
                    <umb-box>
                        <umb-box-content>
                            <ng-form class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
                                <umb-property property="field" ng-repeat="field in provider.fields">
                                    <umb-property-editor model="field" is-pre-value="true"></umb-property-editor>
                                </umb-property>
                            </ng-form>
                        </umb-box-content>
                    </umb-box>
                </div>
                <pre>{{result | json}}</pre>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button action="model.close()" button-style="link" label="{{model.closeButtonLabel || 'Close'}}" type="button"></umb-button>
                    <umb-button type="button"
                                button-style="success"
                                disabled="model.submitButtonDisabled"
                                state="model.submitButtonState"
                                action="import()"
                                label="{{model.submitButtonLabel || 'Continue'}}">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>