<div ng-controller="SkybrudUmbracoRedirects.FileController">
    <div ng-show="model.value.length > 0">
        <div ng-repeat="file in model.value">
            <div>
                <strong>{{file.name}}</strong>
                <small>({{file.size}} bytes)</small>
            </div>
        </div>
    </div>
    <div ng-show="model.value.length == 0" ngf-drop class="dropzone is-small" ngf-change="handleFiles($files, $event)" ngf-drag-over-class="drag-over" ngf-multiple="false">
        <div class="content">
            <img class="illustration" src="assets/img/uploader/upload-illustration.svg" alt="" draggable="false" />
            <div class="file-select"
                 ngf-select
                 ng-model="filesHolder"
                 ngf-change="handleFiles($files, $event)"
                 ngf-multiple="true">
                - <localize key="media_orClickHereToUpload">or click here to choose files</localize>
            </div>
        </div>
    </div>
</div>