﻿<div ng-controller="SkybrudUmbracoRedirects.ExportController as vm">
    <form name="propertiesForm" ng-submit="vm.save()" novalidate val-form-manager>
        <umb-editor-view>
            <umb-editor-header name="model.title" name-locked="true" hide-alias="true" hide-icon="true" hide-description="true"></umb-editor-header>
            <umb-editor-container>


                <ng-form name="tabsForm" val-form-manager>
                    <umb-tabs-nav tabs="vm.tabs" on-tab-change="vm.changeTab(tab)"></umb-tabs-nav>
                    <umb-tab-content ng-repeat="tab in vm.tabs" ng-show="tab.active" tab="tab">
                        <div ng-if="tab.alias === 'exporter'">
                            <umb-box ng-show="!vm.exporter">
                                <umb-box-content>
                                    <ul class="redirects-importers">
                                        <li ng-repeat="exporter in vm.exporters">
                                            <button type="button" class="btn-reset w-100 text-left" ng-click="vm.selectExporter(exporter)">
                                                <umb-icon icon="{{exporter.icon}}"></umb-icon>
                                                <div>
                                                    <strong ng-bind="exporter.name"></strong><br />
                                                    <small ng-bind="exporter.description"></small>
                                                </div>
                                            </button>
                                        </li>
                                    </ul>
                                </umb-box-content>
                            </umb-box>
                        </div>
                        <div ng-if="tab.alias === 'options'">
                            <umb-box>
                                <umb-box-content>
                                    <ng-form class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
                                        <umb-property property="option" ng-repeat="option in vm.config">
                                            <umb-property-editor model="option" is-pre-value="true"></umb-property-editor>
                                        </umb-property>
                                    </ng-form>
                                </umb-box-content>
                            </umb-box>
                        </div>
                    </umb-tab-content>
                </ng-form>






<umb-box ng-show="!vm.exporter">
    <umb-box-content>
        <ul class="redirects-exporters">
            <li ng-repeat="exporter in vm.exporters">
                <button type="button" class="btn-reset w-100 text-left" ng-click="vm.selectExporter(exporter)">
                    <umb-icon icon="{{exporter.icon}}"></umb-icon>
                    <div>
                        <strong ng-bind="exporter.name"></strong><br />
                        <small ng-bind="exporter.description"></small>
                    </div>
                </button>
            </li>
        </ul>
    </umb-box-content>
</umb-box>
<div ng-if="vm.exporter">
    <umb-box>
        <umb-box-content>
            <ng-form class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
                <umb-property property="option" ng-repeat="option in vm.exporter.config">
                    <umb-property-editor model="option" is-pre-value="true"></umb-property-editor>
                </umb-property>
            </ng-form>
        </umb-box-content>
    </umb-box>
</div>
            </umb-editor-container>
<umb-editor-footer>
    <umb-editor-footer-content-right>
        <umb-button action="model.close()" button-style="link" label="{{model.closeButtonLabel || 'Close'}}" type="button"></umb-button>
        <umb-button type="submit"
                    button-style="success"
                    disabled="model.submitButtonDisabled"
                    state="model.submitButtonState"
                    label="{{model.submitButtonLabel || 'Continue'}}">
        </umb-button>
    </umb-editor-footer-content-right>
</umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
